# Mac Directory files
.DS_Store

# Qt Creator Specific
CMakeLists.txt.user
*.autosave

# Eclipse Specific
*.cproject
*.project
.settings/

# CLion Specific
.idea/
cmake-build-debug/

# vim temporary files
*.swp

# Compiled Python files
*.pyc

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Build folder
build/

# Catkin ignore file
*CATKIN_IGNORE

# Generated documentation directories
doc/
!doc/config.DoxyFile
